*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    background: #111;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: gilroy;
    color: #fff;
}
#main h1{
    font-size: 56px;
}
#main h1 span{
    display: inline-block;
}